/* Paleta de colores */
.colores {
  color: #b8bdd9; /* Color clarito */
  color: #676ba9; /* Color oscuro */
}

/* Fondo de la página de inicio */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif !important;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("/Img/backgroun\ body.jpg");
}

/* Estilo del navbar blanco con letras negras al inicio */
.navbar {
  height: 60px;
  color: black; /* Letras en blanco */
  background-color: rgba(242, 242, 242, 0.8); /* Fondo blanco con opacidad */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Agregar transición suave */
}

/* Estilo del navbar transparente con letras blancas al desplazarse */
.navbar-scrolled {
  background-color: #b8bdd9; /* Fondo transparente */
  color: black; /* Letras en blanco */
}

/* Estilo del enlace en el navbar blanco al inicio */
.navbar a.nav-link {
  color: #000 !important; /* Letras en negro */
}

/* Estilo del enlace en el navbar transparente al desplazarse */
.navbar-scrolled a.nav-link {
  color: black !important; /* Letras en blanco */
}

/* Estilo de los contenedores con gradientes */
.container#Aboutme {
  margin-top: 20px;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    #f0f0f0,
    #e0e0e0
  ); /* Gradient de color */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile {
  margin-left: auto;
  margin-top: 10px;
  justify-content: center;
  border-color: #000 30px solid;
  border-radius: 20px;
  width: 100%;
  height: 50%;
}

/* Estilos del marco */
.frame {
  margin: 5px;
  border: 2px solid transparent;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    border 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden; /* Oculta el borde cuando se agranda */
}

/* Estilos del marco al hacer clic (animación) */
.frame:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border: 2px solid #676ba9; /* Cambia el color del borde al hacer hover */
}

.container-fluid#Projects .card {
  margin-bottom: 20px;
  background: linear-gradient(
    to bottom,
    #f0f0f0,
    #e0e0e0
  ); /* Gradient de color */
  border-radius: 10px;
}

.container-fluid#Contact {
  background: linear-gradient(
    to bottom,
    #b8bdd9,
    #e0e0e0
  ); /* Gradient de color */
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Estilo de la sección de proyectos */
.container-fluid#Projects .card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.container-fluid#Projects h2.section-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: var(--color-tertiary);
}

/* Estilo de los botones en las tarjetas de proyectos */
.container-fluid#Projects .card a.btn-primary {
  background-color: var(--color-tertiary);
  border-color: var(--color-tertiary);
  border-radius: 10px;
}

/* Estilo de los botones al pasar el mouse */
.container-fluid#Projects .card a.btn-primary:hover {
  background-color: #212529;
  border-color: #212529;
  height: 20px;
  height: 20px;
}

/* Estilo de imagenes proyectos */
.imgProyectos {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Estilo de los botones next slider imagenes */
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #676ba9;
  border-radius: 10px;
  padding: 10px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
    height: 90px;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(242, 242, 242, 0.8);
    border-radius: 20px;
  }

  .container#Aboutme {
    margin-top: 20px;
  }

  .col-md-4 {
    order: 2; /* Change the order for better mobile layout */
  }

  .col-md-8 {
    order: 1; /* Change the order for better mobile layout */
  }

  .profile {
    width: 100%;
    max-width: 100%; /* Ensure the image doesn't exceed its parent's width */
    height: auto; /* Maintain the aspect ratio and adjust height accordingly */
    margin-bottom: 15px; /* Add some spacing between the image and the game section */
  }

  .container-fluid#Projects .card {
  }

  .container-fluid#Contact {
  }

  .container-fluid#Projects .card img {
  }

  .container-fluid#Projects h2.section-title {
  }
}
